extends ../layouts/default

block css
	link(href="/js/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen")

block js
	script(type="text/javascript" src="/js/lib/momentjs/moment.js" charset="UTF-8")
	script(type="text/javascript" src="/js/lib/bootstrap/transition.js" charset="UTF-8")
	script(type="text/javascript" src="/js/lib/bootstrap/collapse.js" charset="UTF-8")
	script(type="text/javascript" src="/js/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8")

	script(type="text/javascript").
		var v_debut = '#{data.announce.debut}';
		var v_fin 	= '#{data.announce.fin}';
		var v_pubtype = '#{data.announce.pubtype}';
		var v_nofin = '#{data.announce.nofin}';
		var v_allday = '#{data.announce.allday}';
		var v_isAdmin = '#{user.isAdminAnnounceManager}';

		var configDate = {language: 'fr',minuteStepping:15};

		$('#finform').datetimepicker(configDate);
		$('#debutform').datetimepicker(configDate);

		var isstart = true;
		if(isstart)
		{
			var defstart = moment();
			defstart.set('hour',20);
			defstart.set('minute',30);
			defstart.set('second', 0);
			$('#debutform').data("DateTimePicker").setDate(defstart);

			isstart = false;
			
		}
		if(v_debut !== '')
		{
			v_debut_date = new Date(v_debut);
			$('#debutform').data("DateTimePicker").setDate(v_debut_date);
			$('#debut').val($('#debutform').data("DateTimePicker").getDate());
		}
		if(v_fin !== '')
		{
			v_fin_date = new Date(v_fin);
			$('#finform').data("DateTimePicker").setDate(v_fin_date);
			$('#fin').val($('#finform').data("DateTimePicker").getDate());

		}

		//Ajout
		$("#debutform").on("dp.change",function (ef) {
			var newenddate = moment(ef.date).add(2,'hours');
			$('#finform').data("DateTimePicker").setMinDate(ef.date);
			$('#finform').data("DateTimePicker").setDate(newenddate);

			$('#debut').val($('#debutform').data("DateTimePicker").getDate());
		});

		//mise dans la variable cachée des infos
		$("#finform").on("dp.change",function (ef) {

		$('#fin').val($('#finform').data("DateTimePicker").getDate());
		});

		displayDependancy = function(d)
		{
			if(d === 'event')
			{
				$("#debutformgroup").show();
				$("#finformgroup").show();
				$("#nofinformgroup").show();
				
				$("#nbWeekBeforeEventgroup").show();
				$("#alldayformgroup").show();
			}

			if(d === 'announce')
			{
				$("#debutformgroup").hide();
				$("#finformgroup").hide();
				$("#nofinformgroup").hide();

				$("#nbWeekBeforeEventgroup").hide();
				$("#alldayformgroup").hide();
			
			}
		};
		
		// Dépendance d'affichage
		$("input[type=radio][name=pubtype]").change(function(){
			displayDependancy(this.value);
		});

		displayDependancy(v_pubtype||'announce');
		if(v_pubtype === '')
		{
			$("#announce").prop( "checked", true );
		}


		$('#nofin').change(function() {
			if ($(this).is(":checked")) {
				//'checked' event code
				$("#finformgroup").hide();

				return;
			}
			$("#finformgroup").show();
		});

		$('#allday').change(function() {
			if ($(this).is(":checked")) {
				//'checked' event code
				$("#finformgroup").hide();

				return;
			}
			$("#finformgroup").show();
		});

		if(v_nofin === 'true')
		{
			$("#finformgroup").hide();
			$("#nofin").prop( "checked", true );

		}

		if (v_allday === 'true')
		{
			$("#allday").prop( "checked", true );
		}else
		{
						$("#allday").prop( "checked", false );

		}

		if(v_isAdmin)
		{
			$("#description").on('keydown', function(event) 
			{
			var currentString = $("#description").val()
			$("#counter").html((1000 - currentString.length)+' caractères restant.');
			});
		}

		areyousure = function(id)
		{
			if (confirm("Voulez-vous vraiment supprimer cette annonce ?")) { // Clic sur OK
				document.location.href= "deleteannounce/"+id;
			}else{
			return false;
			}
		}
});



// Si pas de date soumise, alors l'évènement soumis n'est 
block content
	.container: .row
		.col-sm-12.col-md-12
			form.form-horizontal(method='post')
				fieldset
					//Form Name 
					legend Soumettre une annonce
					//Text input
					.form-group
						label.col-md-4.control-label(for='title') Titre de l'annonce
						.col-md-4
							input#title.form-control.input-md(name='title', placeholder='Indiquez ici le titre de votre annonce', required='', type='text' value=data.announce.title) 
							span.help-block Par exemple : Nouvelles des petits messagers
					//Textarea 
					.form-group
						label.col-md-4.control-label(for='description') Description
						.col-md-4
							if user.canAccessKeystone
								textarea#description.form-control(name='description' placeholder='Détail de l\'annonce' style="height:200px; width:600px")= data.announce.description
							else
								textarea#description.form-control(maxlength='1000' name='description' placeholder='Détail de l\'annonce' style="height:200px; width:600px")= data.announce.description
								p#counter(style='color:red')
					
					//Select Basic 
					.form-group
						label.col-md-4.control-label(for='categorie') Catégorie
						.col-md-4
							select#categorie.form-control(name='categorie')
								each category in data.AMCategory
									if category.for_all || user.canAccessKeystone
										option(value='#{category._id}' selected=data.announce.categorie == category.id) #{category.name}
											if category.description
												|  (#{category.description})
					//Select Basic 
					.form-group
						label.col-md-4.control-label(for='pubtype') Type de publication
						.col-md-4
							.radio
								label(for='announce')
									input#announce(type='radio', checked=data.announce.pubtype == 'announce', value='announce', name='pubtype')
									| Information
							.radio
								label(for='event')
									input#event(type='radio', checked=data.announce.pubtype == 'event', value='event', name='pubtype')
									| Evènement (Réunion fixée à une date/heure précise)


					if user.canAccessKeystone
						.form-group#alldayformgroup
							label.col-md-4.control-label(for='alldayform') Evènement sans horaire défini
							.col-md-4
								span(style="display:block;float:left;")
									input(type="hidden", name="allday", value=0)
									input#allday(type='checkbox' name='allday')

					.form-group#debutformgroup
						label.col-md-4.control-label(for='debutform') Début
						.col-md-4
							#debutform.input-group.date(data-link-field='debutform')
								input.form-control(type='text')
								span.input-group-addon
									span.glyphicon-calendar.glyphicon
							input#debut(type='hidden' name='debut')


					if user.canAccessKeystone
						.form-group#nofinformgroup
							label.col-md-4.control-label(for='nofinform') Je ne connais pas l'heure de fin
							.col-md-4
								span(style="display:block;float:left;")
									input(type="hidden", name="nofin", value=0)
									input#nofin(type='checkbox' name='nofin')

					.form-group#finformgroup
						label.col-md-4.control-label(for='finform') Fin
						.col-md-4
							#finform.input-group.date(data-link-field='finform')
								input.form-control(type='text')
								span.input-group-addon
									span.glyphicon-calendar.glyphicon
							input#fin(type='hidden' name='fin')


					.form-group#nbWeekBeforeEventgroup
						label.col-md-4.control-label(for='nbWeekBeforeEvent') Nombre de semaine de publication avant l'évènement
						.col-md-4
							select#nbWeekBeforeEvent.form-control(name='nbWeekBeforeEvent')
								each week in data.nbWeekBeforeEvent
									option(value='#{week.key}' selected=data.announce.nbWeekBeforeEvent == week.key) #{week.value}

					//.form-group#attachementformgroup
					//	label.col-md-4.control-label(for='attachementformgroup') Fichier joint
					//	.col-md-4
					//		input#attachment(type='file' name='attachment')

					//Button 
					.form-group
						label.col-md-4.control-label(for='submit')
						.col-md-4
							button#submitbtn.btn.btn-success(name='submit') 
								span.glyphicon.glyphicon-bullhorn &nbsp;
								span Soumettre
							if data.announce.id
								a(href="#"  onclick="if (confirm('Supprimer ?')) window.location='/announcedelete/#{data.announce.id}'; return false")
									button.btn.btn-danger
										span.glyphicon.glyphicon-trash &nbsp;
										span Supprimer

					if data.announce.id
						.form-group
							label.col-md-4.control-label(for='title') Soumis par
							.col-md-4
								p.form-control= data.announce.author.getFullName
						input#id(type='hidden', value=data.announce.id, name='id')

						if data.publications.length > 0
							.form-group
								label.col-md-4.control-label(for='nbWeekBeforeEvent') Publié dans les e-mails couvrant les périodes
								.col-md-8
									ul
										each publication in data.publications
											if publication.publication
												li du #{publication.publication._.debut.format('DD/MM/YYYY')} au #{publication.publication._.fin.format('DD/MM/YYYY')}
						else
							hr
							.form-group
								label.col-md-8.control-label(for='nbWeekBeforeEvent') Annonce pas encore publiée

			if user.canAccessKeystone
				hr
				p #{data.announce}


